.List
  display flex
  margin 7px
  .bg
    background-color rgba(0,102,153,0.78)
    color #fff
    height 34px
    flex 1
    margin-left 5px
.yd-back-icon
  vertical-align text-top
.executive
  height 100%
  .input-group-addon
    border none
    border-bottom 1px solid #ccc
    text-align left
    background #fff
    padding 14px
    color red 
  .no_inline
    margin 10px
    .form-group
      display flex
      margin-bottom 0
      #exampleInputEmail2
        width 80%
        display inline
        flex 7
      .btn
        vertical-align top  
        flex 1
        margin-left 8px
  .loan_page,.create_loan
    text-align left
    height 1.25rem
    border-bottom 1px solid #ccc
    line-height 1.25rem
    font-size 16px
    color red
    text-indent .3125rem
    .create_loan_zi
      color #000
      text-indent .625rem
      font-size 14px
      display block
      text-decoration none
      .iconfont
        font-weight 500
        font-size 14px
  .no_pass,.daihou
    .no_pass_page,.daihou_da
      height 1.25rem
      line-height 1.25rem
      font-size 16px
      text-indent 0.3125rem
      color red
      border-bottom 1px solid #ccc      
    .table
      margin-bottom 0 
      border 1px solid #ccc
      td,th
        padding 10px
        text-align center
        border 1px solid #ccc
        vertical-align middle
        word-break break-all
        word-wrap break-word
        a
          text-decoration none
          color rgba(0,102,153,0.78)    