.login_page
    text-align center
    line-height 1.0rem
    background rgba(0, 102, 153 , 0.78)
    height 1.0rem
    font-size .4rem
    color #fff
   .login_image
     text-align center
     margin 1rem 2rem
   .login_in
      text-align center
      input
        padding .4rem
        height .6rem
        border-radius .125rem
        width 90% 
        border 1px solid #ccc
        font-size 16px
        margin-bottom .5rem
      .login_up
        display block 
        text-decoration none
        cursor pointer  
        color #fff
        background rgba(0, 102, 153, 0.78)
        width 90%
        margin .4rem
        height 1.0rem
        border-radius .125rem
        line-height  1.0rem
        font-size 16px